<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Daftar Acara</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

    {% include "navbar.html" %}

	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded" id="bukutamu">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Daftar Laporan</h1>
				</div>
				<div class="col-md-8 right">
					<div id="message-container" class="container-fluid">

					</div>
					<table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Id_laporan</th>
                        <th scope="col">No_kartu_anggota</th>
                        <th scope="col">Datetime_pinjam</th>
                        <th scope="col">Nomor_sepeda</th>
                        <th scope="col">id_stasiun</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Dimas Aditya</td>
                        <td>Top UP</td>
                        <td>100.000</td>
                        <td>15 April 2019</td>
                        <td>Ya</td>
                    </tbody>
                    </table>
				</div>
			</div>
		</div>

		{% include "footer.html" %}
		
	</body>
	<script type="text/javascript">
		// using jQuery
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
</html>