<!DOCTYPE html>
{% load static %}
<html>
	<div class="container-fluid rounded footer">
		<a><img src="{% static 'img/facebook.png' %}" class="social-logo"></a>
		<a><img src="{% static 'img/twitter.png' %}" class="social-logo"></a>
		<p style="float: right;">Copyright 2019</p>
	</div>
	<br>
	<br>
	<br>
</html>