<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>My Story</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

	{% include "navbar.html" %}

	<body class="bg-grey">

		<div class="container-fluid bg-white section-container rounded" id="profil">
			<div class="row">
				<div class="col-md-4 left">
					<h1>BIKE SHARING</h1>
				</div>
				<div class="col-md-8 right">
					<h2>WELLCOME !</h2>
					<br>
					<h2>HOW TO USE ?</h2>
					<p># Silakan login atau register untuk memulai peminjaman</p>
					<br>
				</div>
			</div>
		</div>



		{% include "footer.html" %}

	</body>
</html>