<!DOCTYPE html>
{% load static %}
<html>
<head>
		<title>BIKE_SHARING</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">	
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			
	</head>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" style="padding: 10px;">
		<div class="container-fluid" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'formsaran' %}">Form Saran</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Registrasi
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'register' %}">Register</a>
					<a class="dropdown-item" href="{% url 'login' %}">Login</a>
					</div>
				</li>

				 <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Penugasan
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'penugasan' %}">Buat Penugasan</a>
					<a class="dropdown-item" href="{% url 'daftarPenugasan' %}">Daftar Penugasan</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Acara
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'acara' %}">Buat Acara</a>
					<a class="dropdown-item" href="{% url 'daftarAcara' %}">Daftar Acara</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Transaksi
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'transaksi' %}">Top Up</a>
					<a class="dropdown-item" href="{% url 'riwayat_transaksi' %}">Riwayat Transaksi</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Laporan
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'daftar_laporan' %}">Daftar Laporan</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'voucher' %}">Voucher</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'peminjaman' %}">Peminjaman</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'sepeda' %}">Sepeda</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'stasiun' %}">Stasiun</a>
				</li>


			</ul>
		</div>
	</nav>
</html>