<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Daftar Penugasan</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

    {% include "navbar.html" %}

	<body class="bg-grey">
		<div class="container-fluid bg-white section-container rounded" id="bukutamu">
			<div class="row">
				<div class="col-md-4 left">
					<h1>Daftar Penugasan</h1>
				</div>
				<div class="col-md-8 right">
					<div id="message-container" class="container-fluid">

                    </div>
					<table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">No</th>
                        <th scope="col">Petugas</th>
                        <th scope="col">Tanggal Mulai</th>
                        <th scope="col">Tanggal Akhir</th>
                        <th scope="col">Stasiun</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>30 April 2019</td>
                        <td>1 Mei 2019</td>
                        <td>Stasiun Universitas Indonesia</td>
                        <td><button class="btn btn-primary" type="button">Update</button>
                            <button class="btn btn-primary" type="button">Delete</button>
                        </td>
                        </tr>
                    </tbody>
                    </table>
				</div>
				</div>
				</div>
			</div>
		</div>

		{% include "footer.html" %}
		
	</body>
	<script type="text/javascript">
		// using jQuery
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
</html>