<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Buat Penugasan</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>

    {% include "navbar.html" %}

    <body class="bg-grey">
            <div class="container-fluid bg-white section-container rounded" id="bukutamu">
                <div class="row">
                    <div class="col-md-4 left">
                        <h1>Buat Penugasan</h1>
                    </div>
                    <div class="col-md-8 right">
                        <div id="message-container" class="container-fluid">

                        </div>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Posisi Anda</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Petugas</option>
                                <option>..</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="password">Tanggal Mulai</label>
                                <input name="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="passwordver">Tanggal Selesai</label>
                                <input name="passwordver" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="nama">Stasiun</label>
                                <input name="name" class="form-control" required>
                            </div>
                            <button class="btn btn-primary" type="button">Update</button>
                        </form>
                    </div>
                </div>
            </div>

            {% include "footer.html" %}
    </body>
    <script type="text/javascript">
		// using jQuery
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	</script>
</html>