{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>PINJAM SEPEDA</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
{% include "navbar.html" %}

<body>
	<div class="row" style="margin: 5px 10px 20px">
		<div class="col-md-3">
			<h4 style="">Create new peminjaman</h4>
		</div>
		<div class="col-md-1">
			<div class="dropdown">
			<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" style="background-color: #4C538B;">
				Sepeda Stasiun
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				 <a class="dropdown-item" href="#">Stasiun 1</a> <a class="dropdown-item" href="#">Stasiun 2</a> <a class="dropdown-item" href="#">Stasiun 3</a>
			</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="background-color: #E5DFE6">
			<h2>DAFTAR PEMINJAMAN</h2>
			<table class="table" border="1">
			<thead>
				<th style="background-color: #6B6A9F">Nomor Kartu Anggota</th>
				<th style="background-color: #6B6A9F">Sepeda</th>
				<th style="background-color: #6B6A9F">Stasiun</th>
				<th style="background-color: #6B6A9F">Waktu Kembali</th>
				<th style="background-color: #6B6A9F">Biaya</th>
				<th style="background-color: #6B6A9F">Denda</th>
				<th style="background-color: #6B6A9F">Action</th>
			</thead>
			<tbody>
			<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
				{% for list in listvoucher %}
				<tr>
				<td> {{list.nama}} </td>
				<td> {{list.kategori}} </td>
				<td> {{list.nilai_poin}} </td>
				<td> {{list.deskripsi}} </td>
				<td> {{list.deskripsi}} </td>
				<td> <i class="fa fa-trash"></i> </td>
				<td><button>Kembalikan</button></td>

				</tr>             
				{% endfor %}

			</tbody>
		</table>
		</div>
		<div class="col-md-2"></div>
	</div>
{% include "footer.html" %}

</body>
</html>