{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>voucher</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% include "navbar.html" %}
<body style="background-color: #F4F5EA">
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					
				</div>
				<div class="col-md-8">
					<a href="#form">
					<button class="btn btn-success btn-lg" type="button" style="border-radius: 50%; background-color: #4C538B; margin: 10px 10px 10%; padding: 2% 2%">
						Create new voucher
					</button>
					</a>
				</div>
				<div class="col-md-2">
					
				</div>
			</div>
	</div>

<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8" style="background-color: #E5DFE6">
			<h2>DAFTAR VOUCHER</h2>
			<table class="table" border="1">
			<thead>
				<th style="background-color: #6B6A9F">Nama Voucher</th>
				<th style="background-color: #6B6A9F">kategori</th>
				<th style="background-color: #6B6A9F">nilai_poin</th>
				<th style="background-color: #6B6A9F">Deskripsi</th>
				<th style="background-color: #6B6A9F">Diklaim oleh</th>
				<th style="background-color: #6B6A9F">Action</th>
				<th style="background-color: #6B6A9F">Action</th>
			</thead>
			<tbody>
			<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
				{% for list in listvoucher %}
				<tr>
				<td> {{list.nama}} </td>
				<td> {{list.kategori}} </td>
				<td> {{list.nilai_poin}} </td>
				<td> {{list.deskripsi}} </td>
				<td> <i class="fa fa-trash"></i> </td>
				<td><button>Klaim</button></td>

				</tr>             
				{% endfor %}

			</tbody>
		</table>
		</div>
		<div class="col-md-2"></div>
	</div>

	<div class="row" style="margin: 10% 30%; background-color: #E5DFE6; border-radius: 10px;" id="form">
		<div class="col-md-12">
		<h2>Form pembuatan voucher</h2>
			<div class="row" style="margin-left: 20px;">
				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<input class="input1" type="text" name="nama" placeholder="Nama">
					<span class="shadow-input1"></span>
				</div>
			</div>
			<div class="row" style="margin-left: 20px;">
				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input1" type="text" name="kategori" placeholder="Kategori">
					<span class="shadow-input1"></span>
				</div>
			</div>
			<div class="row" style="margin-left: 20px;">
				<div class="wrap-input1 validate-input" data-validate = "Subject is required">
					<input class="input1" type="text" name="nilai poin" placeholder="Nilai Poin">
					<span class="shadow-input1"></span>
				</div>
			</div>
			<div class="row" style="margin-left: 20px;">
				<div class="wrap-input1 validate-input" data-validate = "Message is required">
					<textarea class="input1" name="deskripsi" placeholder="Deskripsi"></textarea>
					<span class="shadow-input1"></span>
				</div>
			</div>
			<div class="row" style="margin-left: 20px;">
				<div class="wrap-input1 validate-input" data-validate = "Message is required">
					<textarea class="input1" name="jumlah" placeholder="Jumlah"></textarea>
					<span class="shadow-input1"></span>
				</div>
			</div>

				<!-- <div class="col-md-12">
		    		<h2>Nama : {{ form.nama }}</h2>
					<h2>Kategori : {{ form.kategori }}</h2>
					<h2>Nilai poin: {{ form.nilai_poin }}</h2>
					<h2>Deskripsi : {{ form.deskripsi }}</h2>
					<h2>Jumlah : {{ form.jumlah }}</h2>
				</div> -->
			</div>
		</div>
				<div class="row">
				<button type="submit" class="save btn btn-default" style="background-color: #4C538B; text-align: center; margin: 5% 40%">
					Submit
				</button>
				</div>
			</form>
	</div>
{% include "footer.html" %}
	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
