<!DOCTYPE html>
<html lang="en">
  {% include 'navbar.html' %}
  <body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>
				Daftar Sepeda
			</h3>
		</div>
		<div class="col-md-2">
				<form>
						<div class="form-group">
							<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Filter">
						</div>
				</form>
		</div>
		<div class="col-md-2">
				<button type="button" class="btn btn-secondary">Sort</button>
		</div>
		<div class="col-md-2">
				<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header text-center">
			<h4 class="modal-title w-100 font-weight-bold">Tambah Sepeda</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body mx-3">
			<div class="md-form mb-5">
				<i class="fas fa-envelope prefix grey-text"></i>
				<label data-error="wrong" data-success="right" for="defaultForm-nama">Nama</label>
				<input type="text" id="defaultForm-nama" class="form-control validate">
				
			</div>

			<div class="md-form mb-4">
				<i class="fas fa-lock prefix grey-text"></i>
				<label data-error="wrong" data-success="right" for="defaultForm-jenis">Jenis</label>
				<input type="text" id="defaultForm-jenis" class="form-control validate">
			</div>
			<div class="md-form mb-4">
					<i class="fas fa-lock prefix grey-text"></i>
					<label data-error="wrong" data-success="right" for="defaultForm-status">Status</label>
					<input type="text" id="defaultForm-status" class="form-control validate">
				</div>
				<div class="md-form mb-4">
						<i class="fas fa-lock prefix grey-text"></i>
						<label data-error="wrong" data-success="right" for="defaultForm-stasiun">Stasiun</label>
						<input type="text" id="defaultForm-stasiun" class="form-control validate">
                    </div>
                <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="defaultForm-penyumbang">Penyumbang</label>
                        <input type="text" id="defaultForm-penyumbang" class="form-control validate">
                </div>

		</div>
		<div class="modal-footer d-flex justify-content-center">
			<button class="btn btn-default">Submit</button>
		</div>
	</div>
</div>
</div>

<div class="text-center">
<a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Tambah</a>
</div>
		</div>
	</div>
			<table class="table">
				<thead>
					<tr>
                        <th>
                                Nomor
                            </th>
                            <th>
                                Merk
                            </th>
                            <th>
                                Jenis
                            </th>
                            <th>
                                Stasiun
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Penyumbang
                            </th>
                            <th>
                                Action[admin]
                            </th>
                            <th>
                                Action
                        </th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-active">
                            <td>
                                    13u78q
                                </td>
                                <td>
                                    BMX
                                </td>
                                <td>
                                    Dewasa
                                </td>
                                <td>
                                    Stasiun Basdat Depok 1
                                </td>
                                <td>
                                    Tersedia
                                </td>
                                <td>
                                    -
                                </td>
                                
                                <td>
                                        <div class="modal fade" id="modalLoginForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header text-center">
			<h4 class="modal-title w-100 font-weight-bold">Update Sepeda</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body mx-3">
			<div class="md-form mb-5">
				<i class="fas fa-envelope prefix grey-text"></i>
				<label data-error="wrong" data-success="right" for="defaultForm-nama1">Nama</label>
				<input type="text" id="defaultForm-nama1" class="form-control validate">
				
			</div>

			<div class="md-form mb-4">
				<i class="fas fa-lock prefix grey-text"></i>
				<label data-error="wrong" data-success="right" for="defaultForm-jenis1">Jenis</label>
				<input type="text" id="defaultForm-jenis1" class="form-control validate">
			</div>
			<div class="md-form mb-4">
					<i class="fas fa-lock prefix grey-text"></i>
					<label data-error="wrong" data-success="right" for="defaultForm-status1">Status</label>
					<input type="text" id="defaultForm-status1" class="form-control validate">
				</div>
				<div class="md-form mb-4">
						<i class="fas fa-lock prefix grey-text"></i>
						<label data-error="wrong" data-success="right" for="defaultForm-stasiun1">Stasiun</label>
						<input type="text" id="defaultForm-stasiun1" class="form-control validate">
                    </div>
                <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="defaultForm-penyumbang1">Penyumbang</label>
                        <input type="text" id="defaultForm-penyumbang1" class="form-control validate">
                </div>

		</div>
		<div class="modal-footer d-flex justify-content-center">
			<button class="btn btn-default">Update</button>
		</div>
	</div>
</div>
</div>

<div class="text-center">
<a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm1">Update</a>
<a href="" class="btn btn-danger btn-rounded mb-4">Delete</a>
</div>
            
            
                                    </td>
                                <td>
                                    <button type="button" class="btn btn-success">Pinjam</button>
                                </td>
						
					</tr>
				</tbody>
			</table>
			<nav>
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">4</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">5</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
{% include 'footer.html' %}
  </body>
}
</html>

